<section class="home">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
            </mat-drawer>
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>
            <div class="body-home">
                <div class="section-image">
                    <img src="/assets/images/banner-img.png" class="banner-img">
                    <div class="eslogan mt-3 mb-3">
                        <div class="text-right">
                            <span class="txt-1">Conoce cómo ganar una</span>
                            <span class="txt-2">Ducati Scrambler</span>
                        </div>
                        <div class="text-left" (click)="saberMas()">
                            <span class="txt-red">Saber más</span>
                            <mat-icon class="icon-arrow">arrow_forward</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="section-name-user">
                    <span class="txt-3">Hola</span>
                    <span class="txt-user">{{name_user}}</span>
                </div>
                <div class="section-codigo">
                    <div class="{{isMobile(1)}}">
                        <span class="txt-registro">REGISTRA TU CÓDIGO</span>
                        <!-- Inputs dinámicos -->
                        <form [formGroup]="inputsCodigo" class="mt-3">
                            <div formArrayName="listaInputs">
                                <div class="input-codigo">
                                    <div *ngFor="let item of getCamposInputs.controls; let i=index" [formGroupName]="i">
                                        <input type="text" formControlName="valor" class="form-control" mask='A' id="input-code-{{i}}" placeholder="0" style="text-transform: uppercase;">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Select tiendas -->
                        <!-- <mat-form-field appearance="outline" class="mt-3">
                            <mat-label>Tienda de compra</mat-label>
                            <mat-select [(ngModel)]="participacion.tienda" name="tiendas" (selectionChange)="changeTienda($event)">
                                <mat-option *ngFor="let tienda of tiendas" [value]="tienda.value">
                                    {{tienda.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <div class="d-flex flex-direction-row justify-content-center w-100 mt-3 mb-3">
                            <button mat-flat-button color="warn" class="btn-login" (click)="registrarCodigo()" [disabled]="isLoading">
                                <span class="text-btn" *ngIf="!isLoading">REGISTRAR</span>
                                <div class="d-flex flex-direction-row justify-content-center w-100" *ngIf="isLoading">
                                    <span class="text-btn">Cargando...</span>
                                    <mat-spinner [diameter]="20" class="spinner"></mat-spinner>
                                </div>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</section>